body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 90%; /* Increase the width percentage */
    max-width: 800px; /* Increase the maximum width */
    margin: 100px auto;
    padding: 400px;
    text-align: center;
}

form {
    display: grid;
    gap: 20px;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    display: block;
    text-align: left;
}

input,
select,
textarea {
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid #139fd2;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: calc(100% - 24px);
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #1a9ece;
}

button {
    padding: 12px 20px;
    background-color: #139fd2;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
    background-color: #1a9ece;
    box-shadow: 0 0 20px rgba(19, 159, 210, 0.7);
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

h2 {
    color: #139fd2;
    margin-bottom: 20px;
}

/* Optional: Add subtle gradients to headings */
h1, h2 {
    background: linear-gradient(to right, #1349d2, #3b1ace);
    -webkit-background-clip: text;
    color: transparent;
}
